.avatar {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #fff;

  &--article {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid #eee;
  }

  img {
    width: 100%;
  }
}