.blog-search {
  display: flex;
  flex-grow: 1;
  margin-left: 10px;

  &__input {
    width: 100%;
    border: 1px solid $mainColor;
    padding: 5px;
    color: #666;
    font-family: RobotoRegular, sans-serif;
    outline: none;
    font-size: 13px;
  }

  &__button {
    border: none;
    background-color: $mainColor;
    color: #fff;
    padding: 5px;
    width: 65px;
    cursor: pointer;
    outline: none;
  }
}