@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("/public/assets/fonts/Roboto/Roboto-Condensed.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoThin";
    src: url("/public/assets/fonts/Roboto/Roboto-Thin.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("/public/assets/fonts/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}