@import './common/base.scss';
@import './blocks/page-header.scss';
@import './blocks/search.scss';

.l-categories {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.category-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  &__title {
    margin: 0;
    color: #555;
    font-size: 30px;
    font-family: RobotoThin, sans-serif;
    font-weight: 300;
  }

  &__search {
    height: 35px;
    width: 300px;
    flex-grow: 0;
    margin-left: 13px;
  }

  &__filter {
    display: flex;
  }

  &__buttons {
    display: flex;

    button {
      border: none;
      background-color: $mainColor;
      display: block;
      color: #fff;
      margin-left: 13px;
      font-size: 12px;
      cursor: pointer;

      transition: background-color .2s;

      &:hover {
        background-color: lighten($mainColor, 5%);
      }
    }
  }
}

.country {
  height: 225px;
  flex-basis: 19%;
  margin-bottom: 13px;
  max-width: 50%;
  background-image: url(http://shooow.me/uploads/images/geo/c/149_390.jpg);
  background-size: cover;
  position: relative;
  cursor: pointer;

  &:hover .country__filter{
    background-color: rgba(0,0,0,.3);
  }

  &__filter {
    height: 100%;
    transition: background-color .3s;
  }

  &__title {
    color: #fff;
    font-family: RobotoRegular, sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 25px;
  }

  &__description {
    padding: 3px 5px;
    background-color: rgba(0,0,0,.5);
  }

  &__counter {
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    bottom: 71px;
    right: 0;
    padding: 5px 23px;
    font-size: 12px;
    font-family: RobotoThin, sans-serif;
    background-color: rgba(0,0,0,.5);
  }
}