@import "~/node_modules/normalize.css/normalize.css";
@import "~/node_modules/font-awesome/css/font-awesome.css";
@import "fonts.css";

$mainColor: #49b;

html, body {
  height: 100vh;
}

body {
  background: #f4f4f4;
  box-sizing: border-box;
}

.page-header-wrapper {
  height: 50px;
  background-color: $mainColor;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.page-header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  color: #fff;
  font-family: RobotoRegular;
  font-size: 15px;
}

.l-layout {
  height: 100%;
  width: 1060px;
  margin: 0 auto;
}

.profile-head {
  height: 560px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  &__user {
    float: right;
    width: 260px;
  }

  &__bg {
	background-image: url(http://tyme.ru/img/geo_bg.jpg);
	width: 800px;
	height: 412px;
  }

  &__wrapper {
    width: 800px;
    float: left;
  }
}

.user-card {
  height: 100%;
  background: #444;
  padding-top: 40px;

  &__name {
    margin-top: 15px;
    text-align: center;
    font-family: RobotoCondensedRegular, sans-serif;
    font-size: 20px;
    color: #fff;
  }

  &__subscribe {
    border: 1px solid lighten($mainColor, 20%);
    background-color: $mainColor;
    border-radius: 3px;
    width: 70%;
    margin: 10px auto 0;
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }
}

.avatar {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #fff;

  img {
    width: 100%;
  }
}

.user-counter {
  display: flex;
  width: 90%;
  margin: 50px auto 0;
  justify-content: space-around;

  &__item {
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 16px;
  }

  &__header {
    font-size: 38px;
    font-family: RobotoCondensedRegular, sans-serif;
    font-weight: 300;
  }
}

.user-achievements {
  color: #fff;
  font-size: 20px;
  font-family: RobotoCondensedRegular, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 85px;

  &__header {
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 5px;
  }
}

.profile-catalog {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 145px;
  
  &__preview {
    display: flex;
    flex-grow: 1;
    width: 20px;
    margin-right: 1px;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.preview {
  position: relative;
  cursor: pointer;

  &__info {
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding: 3px 5px;
    font-size: 12px;
    font-family: RobotoRegular, sans-serif;
    top: 5px;
    right: 5px;
  }

  &__title {
    position: absolute;
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;

    transition: .3s bottom;
  }

  &__description {
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-family: RobotoRegular, sans-serif;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    text-align: justify;
    height: 50%;
    overflow: hidden;
    bottom: -50%;
    box-sizing: border-box;

    transition: .3s bottom;
  }

  &__icon {
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
    vertical-align: bottom;
  }

  &:hover &__description {
    bottom: 0;
  }

  &:hover &__title {
    bottom: 50%;
  }
}

.content-area {
  display: flex;
  margin-top: 10px;

  &__sidebar {
    width: 180px;
    margin-right: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }

  &__content {
    width: 800px;
    flex-grow: 1;

    font-family: RobotoRegular, sans-serif;
    font-weight: 300;
  }
}

.wall {
  &__wrapper {
	padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  &__toolbar {
    height: 32px;
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
  }
  &__message {
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    padding: 5px;
  }
  &__items {
    margin-top: 10px;
  }
}

.message-form {
  display: flex;

  &__textarea {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    outline: none;
    font-family: RobotoRegular, sans-serif;
    font-weight: 300;
    color: #444;
    padding: 10px 5px;
    font-size: 14px;
    width: 80%;
    margin-right: 5px;
  }

  &__button {
    flex-grow: 1;
    border: 1px solid #e8e8e8;
    background-color: #616D7C;
    box-sizing: border-box;
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    cursor: pointer;
    outline: none;
    transition: background-color .2s;

    &:hover {
      background-color: darken(#616D7C, 10%);
    }
  }
}

.articles {

  &__item {
    height: 200px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
  }
}

.article-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__info {
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
  }
  
  &__text {}
  
  &__icon {
    color: #999;

    &--align-top {
      vertical-align: top;
    }
  }
}