@import "./../../../../node_modules/normalize.css/normalize.css";
@import "fonts.css";

html, body {
  height: 100vh;
}

body {
  background: #f4f4f4;
  box-sizing: border-box;
}

.l-layout {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.profile-head {
  display: flex;
  height: 519px;
  border-bottom: 1px solid #ddd;
  position: relative;

  &__user {
    position: absolute;
    bottom: 77px;
    left: 379px;
    z-index: 1;
  }
}

.avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #ddd;

  img {
    width: 100%;
  }
}

.user-card {
  &__name {
    margin-top: 5px;
    text-align: center;
    font-family: RobotoThin;
    font-size: 17px;
    color: #fff;
  }
}

.user-counter {
  position: absolute;
  bottom: 72px;
  left: 573px;
  z-index: 1;
  display: flex;
  width: 150px;
  justify-content: space-between;

  &__item {
    color: #fff;
    font-family: RobotoThin;
    margin-bottom: 5px;
    font-size: 16px;
  }

  &__header {
    font-size: 38px;
    font-family: RobotoCondensedRegular;
  }
}

.profile-description {
  flex-grow: 1;
  font-family: RobotoCondensedRegular, sans-serif;
  font-size: 20px;
  margin: 0 10px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile-catalog {
  display: flex;
  justify-content: space-between;
  height: 100px;
  
  div {
    background-color: #ccc;
    flex-grow: 1;
    width: 20px;
    margin-right: 5px;
    overflow: hidden;
    margin-top: 10px;

    img {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.profile-content {

}

.profile-head__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

//#485566 #616D7C - карта