@import './common/base.scss';
@import './blocks/page-header.scss';

.profile-head {
  height: 560px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  &__user {
    float: right;
    width: 260px;
  }

  &__bg {
	background-image: url(http://tyme.ru/img/geo_bg.jpg);
	width: 800px;
	height: 412px;
  }

  &__wrapper {
    width: 800px;
    float: left;
  }
}

.user-card {
  height: 100%;
  background: #444;
  padding-top: 40px;

  &__name {
    margin-top: 15px;
    text-align: center;
    font-family: RobotoCondensedRegular, sans-serif;
    font-size: 20px;
    color: #fff;
  }

  &__subscribe {
    border: 1px solid lighten($mainColor, 20%);
    background-color: $mainColor;
    border-radius: 3px;
    width: 70%;
    margin: 10px auto 0;
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }
}

.avatar {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #fff;
  
  &--article {
	width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid #eee;
  }

  img {
    width: 100%;
  }
}

.user-counter {
  display: flex;
  width: 90%;
  margin: 50px auto 0;
  justify-content: space-around;

  &__item {
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 16px;
  }

  &__header {
    font-size: 38px;
    font-family: RobotoCondensedRegular, sans-serif;
    font-weight: 300;
  }
}

.user-achievements {
  color: #fff;
  font-size: 20px;
  font-family: RobotoCondensedRegular, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 120px;

  &__header {
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 5px;
  }
}

.profile-catalog {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 145px;
  
  &__preview {
    display: flex;
    flex-grow: 1;
    width: 20px;
    margin-right: 1px;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.preview {
  position: relative;
  cursor: pointer;

  &__info {
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding: 3px 5px;
    font-size: 12px;
    font-family: RobotoRegular, sans-serif;
    top: 5px;
    right: 5px;
  }

  &__title {
    position: absolute;
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;

    transition: .3s bottom;
  }

  &__description {
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-family: RobotoRegular, sans-serif;
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    text-align: justify;
    height: 50%;
    overflow: hidden;
    bottom: -50%;
    box-sizing: border-box;

    transition: .3s bottom;
  }

  &__icon {
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
    vertical-align: bottom;
  }

  &:hover &__description {
    bottom: 0;
  }

  &:hover &__title {
    bottom: 50%;
  }
}

.content-area {
  display: flex;
  margin-top: 10px;

  &__sidebar {
    width: 180px;
    margin-right: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }

  &__content {
    width: 800px;
    flex-grow: 1;

    font-family: RobotoRegular, sans-serif;
    font-weight: 300;
  }
}

.wall {
  &__wrapper {
	padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  &__toolbar {
    height: 32px;
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
  }
  &__message {
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    padding: 5px;
  }
  &__items {
    margin-top: 10px;
  }
}

.message-form {
  display: flex;

  &__textarea {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    outline: none;
    font-family: RobotoRegular, sans-serif;
    font-weight: 300;
    color: #444;
    padding: 10px 5px;
    font-size: 14px;
    width: 80%;
    margin-right: 5px;
  }

  &__button {
    flex-grow: 1;
    border: none;
    background-color: $mainColor;
    box-sizing: border-box;
    color: #fff;
    font-family: RobotoThin, sans-serif;
    font-weight: 200;
    cursor: pointer;
    outline: none;
    transition: background-color .2s;

    &:hover {
      background-color: darken($mainColor, 3%);
	  padding-top: 3px;
    }
  }
}

.articles {

  &__item {
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
  }
}

.article-preview {
  display: flex;
  justify-content: space-between;
  
  &__author {
	width: 100px;
    font-size: 14px;
    margin-right: 10px;
    overflow: hidden;
    color: #666;
	font-family: RobotoThin, sans-serif;
    text-align: center;
    font-weight: 600;
  }

  &__article {
    flex-grow: 1;
	flex-basis: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  &__header {
	display: flex;
	justify-content: space-between;
  }
  
  &__title {
    font-family: RobotoThin;
    color: $mainColor;
    font-size: 23px;
    font-weight: 600;
  }

  &__info {
    font-family: RobotoCondensedRegular, sans-serif;
    font-weight: 200;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #777;
	margin-left: 10px;
  }
  
  &__text {
    margin: 15px 0;
    color: #666;
    font-family: RobotoRegular, sans-serif;
    line-height: 1.5em;
    border-left: 1px dashed #6ac;
    margin-left: 10px;
    padding: 10px 20px;
  }
  
  &__comment {
	cursor: pointer;
	margin: 0 10px;
  }
  
  &__counter {
    font-family: RobotoCondensedRegular, sans-serif;
    cursor: pointer;
    color: #999;
    margin-left: 10px;
    font-size: 12px;
  }
  
  &__link {
	color: $mainColor;
  }
}