<div class="l-layout">
    <div class="profile-head">
        <div class="profile-head__avatar avatar">
            <img src="http://cs633622.vk.me/v633622731/2e6c3/ikYCZI9iiRE.jpg" alt="">
        </div>
        <div class="profile-description">
            Hello {{username}}!
            <div class="profile-catalog">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="profile-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aspernatur corporis culpa cumque cupiditate dicta, eaque eligendi fuga fugit hic id labore magnam, minima quam qui quia tempore tenetur!</p>
    </div>
</div>