<header class="page-header-wrapper">
	<div class="l-layout">
		<div class="page-header">
			<div class="page-header__main">
				<span><img src="http://mwtravel.ru/img/logo_MyWay.png" style="width: 150px; height: 35px;"></span>
			</div>
			<div class="page-header__tools">
				<span><i style="margin-right: 5px;" class="fa fa-user" aria-hidden="true"></i> Войти</span>
			</div>
		</div>
	</div>
</header>
<div class="l-layout">
    <div class="profile-head">
        <div class="profile-head__wrapper">
            {{{ map }}}
            <div class="profile-catalog">
                <div class="profile-catalog__preview preview">
                    <div class="preview__info">
                        <span>23 <i class="preview__icon fa fa-camera" aria-hidden="true"></i></span>
                    </div>
                    <div class="preview__title">
                        <span>Глебово 2015</span>
                    </div>
                    <div class="preview__description">
                        <span>Lorem ipsum dolor sit reprehenderit sit sunt, temporibus voluptate voluptatem voluptatibus?</span>
                    </div>
                    <img src="http://sigils.ru/symbols/img/gora01.jpg" alt="">
                </div>
                <div class="profile-catalog__preview preview">
                    <div class="preview__info">
                        <span>100 <i class="preview__icon fa fa-camera" aria-hidden="true"></i></span>
                    </div>
                    <div class="preview__title">
                        <span>Новый год в Тель-Авиве</span>
                    </div>
                    <div class="preview__description">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi architecto cupiditate deleniti error hic, iusto natus, neque odit pariatur porro quia recusandae reprehenderit sit sunt, luptatibus?</span>
                    </div>
                    <img src="http://wpapers.ru/wallpapers/nature/Mountains/13295/1366x768_%D0%97%D0%B0%D0%BA%D0%B0%D1%82-%D0%B2-%D0%B3%D0%BE%D1%80%D0%B0%D1%85.jpg" alt="">
                </div>
                <div class="profile-catalog__preview preview">
                    <div class="preview__info">
                        <span>3 <i class="preview__icon fa fa-camera" aria-hidden="true"></i></span>
                    </div>
                    <div class="preview__title">
                        <span>Ночь в юрте</span>
                    </div>
                    <div class="preview__description">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adupiditate deleniti error hic, iusto natus, neque odit pariatur porro quia recusandae reprehenderit sit sunt, temporibus voluptate voluptatem voluptatibus?</span>
                    </div>
                    <img src="http://elitefon.ru/images/201211/elitefon.ru_6492.jpg" alt="">
                </div>
                <div class="profile-catalog__preview preview">
                    <div class="preview__info">
                        <span>50 <i class="preview__icon fa fa-camera" aria-hidden="true"></i></span>
                    </div>
                    <div class="preview__title">
                        <span>Москва - Магадан 2016</span>
                    </div>
                    <div class="preview__description">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi architecto cupiditate deleniti error hic, iusto natus, neque odit pariatur porro quia recusandae reprehenderit sit sunt, temporibus voluptate voluptatem voluptatibus?</span>
                    </div>
                    <img src="http://anywalls.com/pic/201409/1920x1080/anywalls.com-77344.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="profile-head__user user-card">
            <div class="avatar">
                <img src="http://cs633622.vk.me/v633622731/2e6c3/ikYCZI9iiRE.jpg" alt="">
            </div>
            <div class="user-card__name">Марк Партола</div>
            <div class="user-card__subscribe">Подписаться</div>
            <div class="user-counter">
                <div class="user-counter__item">
                    <div class="user-counter__header">542</div>
                    <div>Города</div>
                </div>
                <div class="user-counter__item">
                    <div class="user-counter__header">19</div>
                    <div>Стран</div>
                </div>
            </div>
            <div class="user-achievements">
                <div class="user-achievements__header">Очков достижений</div>
                <div>10100</div>
            </div>
        </div>
    </div>
    <section class="content-area">
        <div class="content-area__sidebar"></div>
        <div class="content-area__content wall">
			<div class="wall__wrapper">
				<div class="wall__toolbar">

				</div>
				<div class="wall__message">
					<form action="" class="message-form">
						<textarea class="message-form__textarea" placeholder="Ваше сообщение.."></textarea>
						<button class="message-form__button">Написать</button>
					</form>
				</div>
			</div>
			

            <div class="wall__items articles articles--block">
                <div class="articles__item article-preview wall__wrapper">
                    <div class="article-preview__info">
                        <span>Марк Партола</span><span>1 <i class="fa fa-heart-o article-preview__icon" aria-hidden="true"></i></span>
                    </div>
					<div class="article-preview__text">Всем привет!</div>
                    <div class="article-preview__info">
                        <span>вчера в 22:50</span><span>6 <i class="fa fa-commenting-o article-preview__icon article-preview__icon--top" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="articles__item article-preview wall__wrapper">
                    <div class="article-preview__info">
                        <span>Марк Партола</span><span>1 <i class="fa fa-heart-o article-preview__icon" aria-hidden="true"></i></span>
                    </div>
                    <div class="article-preview__info">
                        <span>вчера в 22:50</span><span>6 <i class="fa fa-commenting-o article-preview__icon article-preview__icon--top" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="articles__item article-preview wall__wrapper">
                    <div class="article-preview__info">
                        <span>Марк Партола</span><span>1 <i class="fa fa-heart-o article-preview__icon" aria-hidden="true"></i></span>
                    </div>
                    <div class="article-preview__info">
                        <span>вчера в 22:50</span><span>6 <i class="fa fa-commenting-o article-preview__icon article-preview__icon--top" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="articles__item article-preview wall__wrapper">
                    <div class="article-preview__info">
                        <span>Марк Партола</span><span>1 <i class="fa fa-heart-o article-preview__icon" aria-hidden="true"></i></span>
                    </div>
                    <div class="article-preview__info">
                        <span>вчера в 22:50</span><span>6 <i class="fa fa-commenting-o article-preview__icon article-preview__icon--top" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="articles__item article-preview wall__wrapper">
                    <div class="article-preview__info">
                        <span>Марк Партола</span><span>1 <i class="fa fa-heart-o article-preview__icon" aria-hidden="true"></i></span>
                    </div>
                    <div class="article-preview__info">
                        <span>вчера в 22:50</span><span>6 <i class="fa fa-commenting-o article-preview__icon article-preview__icon--top" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="articles__item article-preview wall__wrapper">
                    <div class="article-preview__info">
                        <span>Марк Партола</span><span>1 <i class="fa fa-heart-o article-preview__icon" aria-hidden="true"></i></span>
                    </div>
                    <div class="article-preview__info">
                        <span>вчера в 22:50</span><span>6 <i class="fa fa-commenting-o article-preview__icon article-preview__icon--top" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>