<div class="l-layout l-page-location">
    <div class="country l-whiteframe">
        <div class="country__filter">
            <div class="country__title"></div>
            <div class="country__description"></div>
            <div class="country__counter"></div>
        </div>
    </div>
    <div class="country l-whiteframe">
        <div class="country__filter">
            <div class="country__title"></div>
            <div class="country__description"></div>
            <div class="country__counter"></div>
        </div>
    </div>
    <div class="country l-whiteframe">
        <div class="country__filter">
            <div class="country__title"></div>
            <div class="country__description"></div>
            <div class="country__counter"></div>
        </div>
    </div>
    <div class="country l-whiteframe">
        <div class="country__filter">
            <div class="country__title"></div>
            <div class="country__description"></div>
            <div class="country__counter"></div>
        </div>
    </div>
    <div class="country l-whiteframe">
        <div class="country__filter">
            <div class="country__title"></div>
            <div class="country__description"></div>
            <div class="country__counter"></div>
        </div>
    </div>
    <div class="country l-whiteframe">
        <div class="country__filter">
            <div class="country__title"></div>
            <div class="country__description"></div>
            <div class="country__counter"></div>
        </div>
    </div>
    <div class="country l-whiteframe">
        <div class="country__filter">
            <div class="country__title"></div>
            <div class="country__description"></div>
            <div class="country__counter"></div>
        </div>
    </div>
</div>