<div class="l-layout">
    <div class="category-header">
        <h2 class="category-header__title">Страны мира</h2>
        <div class="category-header__filter">
            <div class="category-header__buttons">
                <button>По алфавиту</button>
                <button>По рейтингу</button>
            </div>
            <div class="category-header__search blog-search">
                <input type="text" placeholder="Начните вводить название.." class="blog-search__input">
                <button class="blog-search__button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="l-layout l-categories">
    <div class="country l-whiteframe l-whiteframe--no-padding" style="background-image: url(http://shooow.me/uploads/images/geo/c/51_390.jpg); flex-basis: 39%">
        <div class="country__filter">
            <div class="country__title">Германия</div>
            <div class="country__counter">20 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding" style="background-image: url(http://shooow.me/uploads/images/geo/c/20_390.jpg)">
        <div class="country__filter">
            <div class="country__title">Беларусь</div>
            <div class="country__counter">11 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Россия</div>
            <div class="country__counter">546 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
    <div class="country l-whiteframe l-whiteframe--no-padding">
        <div class="country__filter">
            <div class="country__title">Название</div>
            <div class="country__counter">1000 записей</div>
        </div>
    </div>
</div>