<div class="l-layout l-page-article">
    <div class="article-header l-whiteframe">
        <div class="article-header__title">
            10 самых вкусных десертов со всего мира
        </div>
        <div>
            <div class="article-header__author">
                <div class="avatar avatar--small">
                    <img src="http://cs633622.vk.me/v633622731/2e6c3/ikYCZI9iiRE.jpg" alt="">
                </div>
                <div>
                    <div class="article-header__info">Марк Партола</div>
                    <div class="article-header__info article-header__info--small">25 мая 2016 года</div>
                </div>
            </div>
            <div class="article-header__tags">
                <span>какие-то</span><span>тут</span><span>тэги</span>
            </div>
        </div>
        <div class="article-content">
            <p>Торты, пирожные, кексы, пудинги, мороженое — похоже, в каждой стране мира люди не могут обойтись без чего-нибудь сладенького после сытного обеда (или в любое другое время суток). Сегодня мы расскажем о десяти потрясающих и вкуснейших десертах со всего мира. Если какой-то из них окажется вам незнакомым — срочно бежим в ближайший ресторан или магазин и пробуем его найти! Желанный десерт так и не отыскался? Что ж, это отличный стимул для нового путешествия с кулинарным уклоном!</p>
            <p>Торты, пирожные, кексы, пудинги, мороженое — похоже, в каждой стране мира люди не могут обойтись без чего-нибудь сладенького после сытного обеда (или в любое другое время суток). Сегодня мы расскажем о десяти потрясающих и вкуснейших десертах со всего мира. Если какой-то из них окажется вам незнакомым — срочно бежим в ближайший ресторан или магазин и пробуем его найти! Желанный десерт так и не отыскался? Что ж, это отличный стимул для нового путешествия с кулинарным уклоном!</p>
            <p>Торты, пирожные, кексы, пудинги, мороженое — похоже, в каждой стране мира люди не могут обойтись без чего-нибудь сладенького после сытного обеда (или в любое другое время суток). Сегодня мы расскажем о десяти потрясающих и вкуснейших десертах со всего мира. Если какой-то из них окажется вам незнакомым — срочно бежим в ближайший ресторан или магазин и пробуем его найти! Желанный десерт так и не отыскался? Что ж, это отличный стимул для нового путешествия с кулинарным уклоном!</p>
        </div>
    </div>
    <div class="l-whiteframe l-page-article__sidebar">
        <img style="width: 100%;" src="http://sellingwithinsight.com/wp-content/uploads/2016/04/poster-advertising-mcdonalds-poster-ad-by-janmil000-d4smdrt.jpg" alt="">
        <img style="width: 100%;" src="http://gdj.gdj.netdna-cdn.com/wp-content/uploads/2011/06/advertising-posters-16.jpg" alt="">
    </div>
</div>