<div class="l-layout l-page-article">
    <div class="article-header l-whiteframe">
        <div class="article-header__title">
            10 самых вкусных десертов со всего мира
        </div>
        <div class="article-header__info">
            <div class="article-header__author">
                <div class="avatar avatar--small">
                    <img src="http://cs633622.vk.me/v633622731/2e6c3/ikYCZI9iiRE.jpg" alt="">
                </div>
                <div>
                    <div class="article-header__info">Марк Партола</div>
                    <div class="article-header__info article-header__info--small">25 мая 2016 года</div>
                </div>
            </div>
            <div class="article-header__tags">
                <span>какие-то</span><span>тут</span><span>тэги</span>
            </div>
        </div>
    </div>
    <div class="l-whiteframe l-page-article__sidebar">

    </div>
</div>