<header class="page-header-wrapper">
	<div class="l-layout">
		<div class="page-header">
			<div class="page-header__main">
				<span><img src="http://mwtravel.ru/img/logo_MyWay.png" style="width: 150px; height: 35px;"></span>
			</div>
			<div class="page-header__tools">
				<span><i style="margin-right: 5px;" class="fa fa-user" aria-hidden="true"></i> Войти</span>
			</div>
		</div>
	</div>
</header>

<div class="l-layout">
	<div class="blog-header">
		<div class="blog-header__sidebar">left</div>
		<div class="blog-header__main-area">right</div>
	</div>

	<div class="l-blog-layout">
		<div class="l-blog-layout__sidebar">left</div>
		<div class="l-blog-layout__content blog-content">
			<div class="timeline-content timeline-content--left"></div>
			<div class="timeline-content"></div>
		</div>
	</div>
</div>