<header class="page-header-wrapper">
	<div class="l-layout">
		<div class="page-header">
			<div class="page-header__main">
				<span><img src="http://mwtravel.ru/img/logo_MyWay.png" style="width: 150px; height: 35px;"></span>
			</div>
			<div class="page-header__tools">
				<span><i style="margin-right: 5px;" class="fa fa-user" aria-hidden="true"></i> Войти</span>
			</div>
		</div>
	</div>
</header>

<div class="l-layout">
	<div class="blog-header">
        <div class="blog-header-widget">
            <div class="blog-header-widget__item">Жизнь</div>
            <div class="blog-header-widget__item">Путешествие</div>
            <div class="blog-header-widget__item">Истории</div>
            <div class="blog-header-widget__item">Достопримечательности</div>
            <div class="blog-header-widget__item">Места</div>
            <div class="blog-header-widget__item">Лайф-хаки</div>
        </div>
        <div class="blog-search">
            <input type="text" placeholder="Начните вводить название.." class="blog-search__input">
            <button class="blog-search__button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
	</div>

	<div class="l-blog-layout">
		<div class="l-blog-layout__sidebar">
            <div class="blog-side-widget">
                <div class="blog-side-widget__header">Разделы</div>
                <div class="blog-side-widget__item">Жизнь</div>
                <div class="blog-side-widget__item">Путешествие</div>
                <div class="blog-side-widget__item">Истории</div>
                <div class="blog-side-widget__item">Достопримечательности</div>
                <div class="blog-side-widget__item">Места</div>
                <div class="blog-side-widget__item">Лайф-хаки</div>
            </div>

            <div class="blog-side-widget">
                <div class="blog-side-widget__header">Популярное</div>
                <div class="blog-side-widget__item">Статья один</div>
                <div class="blog-side-widget__item">Еще статья</div>
                <div class="blog-side-widget__item">Что я тут делаю?</div>
                <div class="blog-side-widget__item">И такое бывает</div>
            </div>
        </div>

		<div class="l-blog-layout__content blog-content">
			<div class="timeline-content timeline-content--left">

                <div class="timeline-article timeline-article--right-hook">
                    <div class="timeline-article__hook">
                        <div class="timeline-article__hook-title">
                            22 апреля в 11:35
                        </div>
                        <div class="timeline-article__pin"></div>
                    </div>

                    <div class="timeline-article__content blog-article-preview" >
                        <div class="blog-article-preview__filter">
                            <div class="blog-article-preview__title">
                                Какое-то название статьи
                            </div>
                            <div class="blog-article-preview__tags">
                                <span>#Выживание</span>
                                <span>#Достопримечательности</span>
                            </div>
                            <div class="blog-article-preview__info">
                                <span><i style="margin-right: 5px;" class="fa fa-user"></i>Марк Партола</span>
                                <span><i style="margin-right: 5px;" class="fa fa-eye"></i>1000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-article timeline-article--right-hook">
                    <div class="timeline-article__hook">
                        <div class="timeline-article__hook-title">
                            22 апреля в 11:35
                        </div>
                        <div class="timeline-article__pin"></div>
                    </div>
                    <div class="timeline-article__content blog-article-preview" style="background-image: url(http://7oom.ru/wp-content/uploads/foto-priroda-45.jpg); background-size: cover">
                        <div class="blog-article-preview__filter">
                            <div class="blog-article-preview__title">
                                Еще одна статейка
                            </div>
                            <div class="blog-article-preview__info">
                                <span><i style="margin-right: 5px;" class="fa fa-user"></i>Марк Партола</span>
                                <span><i style="margin-right: 5px;" class="fa fa-eye"></i>1000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-article timeline-article--right-hook">
                    <div class="timeline-article__hook">
                        <div class="timeline-article__hook-title">
                            22 апреля в 11:35
                        </div>
                        <div class="timeline-article__pin"></div>
                    </div>
                    <div class="timeline-article__content blog-article-preview">
                        <div class="blog-article-preview__filter">
                            <div class="blog-article-preview__title">
                                Какое-то название статьи
                            </div>
                            <div class="blog-article-preview__info">
                                <span><i style="margin-right: 5px;" class="fa fa-user"></i>Марк Партола</span>
                                <span><i style="margin-right: 5px;" class="fa fa-eye"></i>1000</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
			<div class="timeline-content">

                <div class="timeline-article timeline-article--left-hook">
                    <div class="timeline-article__hook">
                        <div class="timeline-article__hook-title">
                            22 апреля в 11:35
                        </div>
                        <div class="timeline-article__pin"></div>
                    </div>
                    <div class="timeline-article__content blog-article-preview"  style="background-image: url(http://ecofauna.org/files/all/159/animals1.jpg); background-size: cover">
                        <div class="blog-article-preview__filter">
                            <div class="blog-article-preview__title">
                                Котятки!
                            </div>
                            <div class="blog-article-preview__info">
                                <span><i style="margin-right: 5px;" class="fa fa-user"></i>Марк Партола</span>
                                <span><i style="margin-right: 5px;" class="fa fa-eye"></i>1000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-article timeline-article--left-hook">
                    <div class="timeline-article__hook">
                        <div class="timeline-article__hook-title">
                            22 апреля в 11:35
                        </div>
                        <div class="timeline-article__pin"></div>
                    </div>
                    <div class="timeline-article__content blog-article-preview" style="background-image: url(http://fotorelax.ru/wp-content/uploads/2016/01/Beautiful-pictures-of-nature-01-1.jpg); background-size: cover">
                        <div class="blog-article-preview__filter">
                            <div class="blog-article-preview__title">
                                Что-то тут будет тоже
                            </div>
                            <div class="blog-article-preview__info">
                                <span><i style="margin-right: 5px;" class="fa fa-user"></i>Марк Партола</span>
                                <span><i style="margin-right: 5px;" class="fa fa-eye"></i>1000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-article timeline-article--left-hook">
                    <div class="timeline-article__hook">
                        <div class="timeline-article__hook-title">
                            22 апреля в 11:35
                        </div>
                        <div class="timeline-article__pin"></div>
                    </div>
                    <div class="timeline-article__content blog-article-preview">
                        <div class="blog-article-preview__filter">
                            <div class="blog-article-preview__title">
                                Какое-то название статьи
                            </div>
                            <div class="blog-article-preview__info">
                                <span><i style="margin-right: 5px;" class="fa fa-user"></i>Марк Партола</span>
                                <span><i style="margin-right: 5px;" class="fa fa-eye"></i>1000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>